@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es una muestra de net core mvcg consumiendo endpoints de reqres.in</p>
</div>

